@charset "EUC-KR";

a {
	color: #000;
}

a:active, a:focus, a:hover {
	color: #666;
/* 	text-decoration: underline; */
}

h2.tit {
	font-size: 1.8666em;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.1;
	color: #222;
	margin-top: 50px;
}

.inner-wrap {
	width: 1100px;
	margin: 0 auto
}

.inner-wrap:after, .inner-wrap:before {
	content: '';
	display: table
}

.inner-wrap:after {
	clear: both
}

.theater-box {
	position: relative;
	display: block;
	width: 100%;
	min-height: 190px;
	border: 1px solid #4d4d4d;
	/* border-radius: 10px; */
}

.wrap-sitemap-title h2.sitemap-title {
	display: inline-block;
	margin: 0 auto;
	font-size: 25px;
	color: #666;
	font-weight: normal;
	padding-top: 50px;
	height: 46px;
}

.wrap-sitemap-title {
	background-color: #e5e5e5;
	width: 100%;
	height: 134px;
	text-align: center;
}

.theater-box {
	margin-top: 30px;
	position: relative;
	display: block;
	width: 100%;
	min-height: 190px;
	border: 2px solid #a3a3a3;
	/* border-radius: 10px; */
	background-color: #f9f9f9;
}

.theater-box .theater-place {
	width: 100%;
	height: 48px;
	border-bottom: 2px solid #e0e0e0;
}

.theater-box .theater-place>ul {
	float: left;
}

.theater-box .theater-place>ul:after {
	/* display: block; */
	/* clear: both; */
	/* content: ''; */
	
}

.theater-box .theater-place>ul>li {
	width: 136px;
	height: 48px;
	line-height: 48px;
	border-width: 0 1px 1px 0;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
}

.theater-box .theater-place>ul>li.on {
	background: #673bd4;
	/* border: 1px solid #555; */
}

.theater-box .theater-place>ul>li.on>button {
	color: #fff
}

.theater-box .theater-place ul li:last-child, .theater-box .theater-place>ul>li:first-child
	{
	/* width: 138px; */
	
}

.theater-box .theater-place>ul>li:first-child {
	width: 140px
}

.theater-box .theater-place>ul>li:last-child {
	border-right: none;
	border-right: 2px solid #ececec;
}

.theater-box .theater-place>ul>li.on .theater-list {
	display: block !important;
}

.theater-box .theater-list {
	/* display: none; */
	position: absolute;
	left: 0;
	top: 48px;
	width: 100%;
	min-height: 85px;
	padding: 30px 0
}

.theater-box .theater-list ul {
	overflow: hidden;
	width: 900px;
}

.theater-box .theater-list ul li {
	position: relative;
	float: left;
	width: 25%;
	line-height: 26px;
	text-align: left;
	padding-left: 40px;
	font-weight: 100;
	font-size: 16px;
	color: #000;
}

.theater-box .theater-list ul li a {
	color: #444
}

.theater-box .theater-list ul li:nth-child(2):after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 1px;
	height: 1000%;
	background: #e0e0e0
}

.theater-box .theater-list ul li:nth-child(3):after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 1px;
	height: 1000%;
	background: #e0e0e0
}

.theater-box .theater-list ul li:nth-child(4):after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 1px;
	height: 1000%;
	background: #e0e0e0
}

.theater-box .theater-list ul li span.favorit-theater {
	position: absolute;
	left: 25px
}

.theater-box .user-theater {
	position: absolute;
	/* padding: 0px 20px; */
	width: 100%;
	bottom: 0;
	left: 0;
	line-height: 54px;
	/* border-radius: 0 0 10px 10px; */
	background-color: #f0f0f0;
}

.theater-box .user-theater ul.theater-circle {
	display: inline-block;
	margin: 0 20px
}

.theater-box .user-theater ul.theater-circle li {
	display: inline-block;
	padding: 0 15px;
	margin: 0 2px;
	height: 25px;
	line-height: 24px;
	border-radius: 25px;
	border: 1px solid #8c8c8c;
}

.theater-box .user-theater a.button.float-r {
	float: right;
	margin-top: 12px
}

/* �좎럩伊숋옙�대쐻占쎌늿�뺧옙�좊즸占쎌눨�앾옙�덉굲占쎌쥙猷욑옙�용쐻占쎌늿�뺧옙醫롫짗占쎌닂�숅넫臾믪굲 占쎌쥙猷욑옙�용쐻占썩뫖爾놂옙醫롫쑟�얜퀬占썩뫀踰⑨옙�뗭삕占쎌눘�뺧옙醫롫쑕占쎌빢�숋옙�뱀굲占쎌쥙猷욑옙�용쐻占쎌늿�뺧옙醫롫짗占쎌닂�숋옙��굲占쎌쥙猷욑옙�용쐻占쎈���삼옙醫묒삕 */
.table-wrap {
	position: relative;
	border-top: 1px solid #555
}

table {
	width: 100%;
	margin: 0;
	border: 0;
	table-layout: fixed;
	border-collapse: collapse;
	empty-cells: show
}

table caption {
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	opacity: 0
}

table td, table th {
	padding: 0
}

table.left td, table.left th {
	text-align: left
}

table.center td, table.center th {
	text-align: center
}

table select {
	border-radius: 0
}

.data-table .mem-point-info {
	text-align: left;
	box-sizing: border-box
}

.data-table td, .data-table th, .data-table tr {
	padding: 10px 20px
}

.data-table th.bg {
	padding: 10px 20px;
	background-color: #f7f8f9
}

.data-table thead th {
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background-color: #f7f8f9
}

.data-table thead th:last-child {
	border-right: 0
}

.data-table tbody th {
	padding: 0;
	text-align: left;
	vertical-align: middle;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea
}

.data-table tbody td {
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea
}

.data-table tbody td:last-child {
	border-right: 0
}

.data-table.bg tbody th {
	padding: 0 15px;
	background-color: #f7f8f9
}

.board-list {
	line-height: 1.3
}

.board-list p {
	margin: 0;
	padding: 0
}

.board-list p.code {
	display: inline-block;
	font-size: 13px;
	color: #999
}

.board-list>thead>tr>th {
	/* height: 45px; */
	padding: 3px 10px;
	color: #222;
	border: 1px solid #eaeaea;
	border-width: 0 0 1px 0;
	background-color: #f0f0f0;
	line-height: 50px;
}

.board-list>tbody>tr>td, .board-list>tbody>tr>th {
	height: 45px;
	padding: 10px;
	border: 1px solid #eaeaea;
	border-width: 0 0 1px 0;
	text-align: center
}

.board-list>tbody>tr>th {
	text-align: left;
	font-weight: 400
}

.board-list>tbody>tr>td>a, .board-list>tbody>tr>th>a {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle
}

.board-list>tbody>tr>td>a.ellipsis {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.board-list.line>thead>tr>th {
	border-width: 0 1px 1px 0
}

.board-list.line>thead>tr>th:last-child {
	border-width: 0 0 1px 0
}

.board-list.line>tbody>tr>td, .board-list.line>tbody>tr>th {
	border-width: 0 1px 1px 0
}

.board-list.line>tbody>tr>td:last-child, .board-list.line>tbody>tr>th:last-child
	{
	border-width: 0 0 1px 0
}

.table-wrap.divide .scroll {
	overflow: hidden;
	overflow-y: auto
}

.board-view {
	word-break: break-all
}

.board-view .tit-area {
	display: table;
	width: 100%;
	padding: 15px 0
}

.board-view .tit-area .tit {
	display: table-cell;
	margin: 0;
	padding: 0;
	font-size: 1.1429em;
	color: #444;
	font-weight: 400
}

.tit-util .tit {
	float: left;
	padding: 0 !important;
	line-height: 1.1
}

h3.tit {
	margin: 0;
	padding: 0 0 16px 0;
	font-size: 1.6em;
	font-weight: 400;
	color: #171717;
	line-height: 1.1
}

.tit-util:after, .tit-util:before {
	clear: both;
	content: '';
	display: block;
}

.tit-util .more {
	float: right
}

.tit-util .more i {
	margin-left: 5px
}

.tit-util .btn-more-cross {
	float: right
}

.mb15 {
	margin-bottom: 15px !important
}

.mt70 {
	margin-top: 70px !important
}

button {
	cursor: pointer;
	letter-spacing: -.5px;
	font-weight: 400;
	font-family: NanumBarunGothic, Dotum, '�좎럩伊숋옙�대쐻占쎌늿�뺟뇾癒⑤쐻占쎌늿�뺝뜝�뚯쪠占싸듬쐻占쎌늿�뺧옙醫롫짗占쎌닂�숅넫臾믪굲', sans-serif;
	width: 100%;
	text-align: center !important;
}

button.reset {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

button:focus {
	outline: 1px dotted #000
}

.button {
	display: inline-block;
	/* height: 36px; */
	margin: 0;
	/* padding: 0 15px; */
	text-align: center;
	/* line-height: 34px; */
	color: #000000;
	font-weight: 400;
	border-radius: 4px;
	font-family: NanumBarunGothic, Dotum, sans-serif;
	text-decoration: none;
	border: 1px solid #535353;
	/* vertical-align: middle; */
	/* background-color: #fff; */
	cursor: pointer
}

.button:hover {
	color: #351f67;
	text-decoration: none;
	background-color: #d9d9d9;
}

.button:focus {
	outline: 1px dotted #000
}

.button.small {
	height: 27px;
	padding: 0px 6px;
	line-height: 30px;
	font-size: .9333em;
	border-radius: 15px;
}
/* 모달 */

.modal {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0 auto;
	/* padding: 0 20px; */
	max-width: 700px;
	margin-top: 100px;
}

.modal-content {
	position: relative;
	background-color: #fff;
	outline: none;
	overflow: hidden;
	border-radius: 0;
	padding: 20px;
	border-radius: 10px;
	width: 600px;
}

/****************************************************************************************************************************************
	�좎럩伊숋옙�대쐻占쎌늿�뺧옙�얠삕占쎄랬�숋옙醫롫짗占쎌눨�앾옙�덉굲占쎌쥙�댐옙��쐻�좑옙
****************************************************************************************************************************************/
/*�좎럩伊숋옙恝�쇿뜝�뀀쐻占쎌늿�뺝뜝�덌옙占쎌늹���⑤∥逾껓옙�용쐻占쎈���삣뜝�덉뒱占쎌눨�앾옙�덉굲占쎌쥙�댐옙�얠삕占쎈끃�뺧옙醫롫짗占쏙옙*/
.login-tit {
	font-size: 28px;
}

.mem-login {
	width: 490px !important;
	margin: 0 auto;
}

.member-detail {
	display: block;
	margin: 17px 0;
	/* height: 40px; */
	/* width: 100%; */
	vertical-align: top;
	width: 438px;
	position: relative;
}

.member .etc {
	overflow: hidden;
	margin-bottom: 35px;
}

.modal-header .close-modal {
	position: absolute;
	right: 18px;
	top: 14px;
	width: 25px;
	height: 25px;
	background: url(../images/member/ico_modal_close.png) no-repeat 50% 50%;
	text-indent: -9999px;
}

.member-detail label.label-input {
	width: 490px;
	height: 40px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #666;
	display: block;
	line-height: 38px;
	padding-left: 20px;
	position: relative;
}

.member-detail input[type=text], .member-detail input[type=password] {
	width: 251px;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background-color: #f9f9f9;
	border: 0;
	border-left: 1px solid #b7b7b7;
	margin-left: 122px;
	padding-left: 14px;
	font-size: 14px;
	color: #3a3a3a;
	margin-top: -5px;
}

.list-tabs:after {
	display: block;
	content: '';
	clear: both;
}

.list-tabs a {
	float: left;
	font-size: 20px;
	opacity: 0.5;
	height: 58px;
	line-height: 55px;
	position: relative;
	margin-right: 25px;
}

.member .find {
	text-align: right;
	margin: 10px 0 15px;
}

.member .find a {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #909090;
	line-height: 18px;
}

.member .find a+a {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #909090;
}

.member .orther-login .tit {
	max-width: 260px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.member .orther-login .tit span {
	position: relative;
	display: block;
}

.member .orther-login .tit span strong {
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	background: #fff;
	font-size: 12px;
	color: #8f9bb3;
	position: relative;
	z-index: 2;
}

.member .orther-login .tit span:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 1px;
	background: #e4e9f2;
}

.member .orther-login .btns {
	text-align: center;
	padding: 12px 0 30px;
}

.member .orther-login .btns a {
	margin: 0 8px;
}

.member .orther-login .btns a img {
	width: 52px;
	display: inline;
}

.member .orther-login .desc {
	text-align: center;
	font-size: 12px;
	line-height: 1.4;
	color: #909090;
	word-break: keep-all;
}

.member .orther-login .desc span {
	color: #673bd4;
}

.member .check-desc {
	text-align: center;
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 1.5;
	color: #909090;
	word-break: keep-all;
}

.member .check-desc p {
	padding-left: 14px;
	text-indent: -14px;
}

.member .check-desc p+p {
	margin-top: 3px;
}
/*�좎럩伊숋옙恝�쇿뜝�뀀쐻占쎌늿�뺝뜝�덌옙占쎌늹���⑤∥逾껓옙�용쐻占쎈���삣뜝�덉뒱占쎌눨�앾옙�덉굲占쎌쥙�댐옙�얠삕占쎈끃�뺧옙醫롫짗占쏙옙*/
.member .end {
	padding: 40px 0 90px;
	text-align: center;
	/* width: 960px; */
	margin: 0 auto;
}

.member .end .t1 {
	padding-top: 133px;
	background: url(../images/member/joinSucess.png) no-repeat 50% -80px;
	font-size: 20px;
	line-height: 1.5;
}

.member .end .t2 {
	font-size: 14px;
	line-height: 1.4;
	color: #909090;
	margin: 15px 0 45px;
}

.member .end .btns {
	width: 100%;
}

.member .end .btns a {
	width: calc(40% - 20px);
	margin: 0 auto;
	background-color: #5d46b5;
	height: 35px;
	border-radius: 10px;
	color: #fff;
	font-weight: 300;
	line-height: 35px;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.member .end .btns .btn-type-main {
	padding: 5px 40px;
}

.member .end .btns .btn-typep-login {
	padding: 5px 50px;
}

.member .orther-login .btns {
	text-align: center;
	padding: 12px 0 30px;
}

.member .orther-login .btns a {
	margin: 0 8px;
}

.login-social a.nv {
	background-image: url("../images/member/ico_naver.png");
	background-size: 50px 50px;
}

.login-social a.kt {
	background-image: url("../images/member/ico_kakao.png");
	background-size: 50px;
}

.login-social a.fb {
	background-image: url("../images/member/btn-social-fb.png");
}

.member-desc1 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
}

.member-desc1 p {
	padding-top: 20px;
}

.member {
	max-width: 100%;
	padding: 0 20px;
	padding-top: 55px;
	margin: 0 auto;
}

.list-tabs a:before {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	bottom: -1px;
	height: 3px;
	background: #673bd4;
	opacity: 0;
	transition: all 0.3s ease;
}

.btn-type0 {
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 46px;
	border-radius: 4px;
	text-align: center;
	background: #673bd4;
	font-size: 16px;
	color: #fff;
	border: none;
}

.list-tabs a:hover, .list-tabs a.active {
	opacity: 1;
	font-weight: 600;
}

.list-tabs a:hover:before, .list-tabs a.active:before {
	width: 100%;
	opacity: 1;
}

.member .list-tabs {
	margin-bottom: 40px;
}

.member .list-tabs a {
	height: 40px;
	line-height: 38px;
	color: #464646;
}

.section-theater-head {
	background-size: cover !important;
	width: 100%;
	height: 460px;
}

.section-theater-head .wrap {
	display: block;
	width: 712px;
	margin: 0 auto;
	padding: 289px 154px 0 154px;
	position: relative;
	text-shadow: 0 0 20px black;
}

.section-theater-head .wrap .name-1 {
	display: block;
	width: 100%;
	font-size: 37px;
	color: #fff;
	text-align: right;
	font-weight: 300;
	text-shadow: 0 0 20px black;
	line-height: 1;
}

.section-theater-head .wrap .name-2 {
	display: block;
	width: 100%;
	padding: 9px 0 15px;
	font-size: 45px;
	color: #fff;
	text-align: right;
	font-weight: 500;
	text-shadow: 0 0 20px black;
	line-height: 1;
}

.section-theater-head .wrap .name-3 {
	display: block;
	width: 100%;
	padding: 9px 0 10px;
	font-size: 16px;
	color: #fff;
	text-align: right;
	font-weight: 500;
	text-shadow: 0 0 20px black;
	line-height: 2.1;
}

.section-theater-head .wrap .btn-inquiry {
	display: block;
	position: absolute;
	right: 153px;
	width: 111px;
	height: 35px;
	border: 1px solid #94624c;
	background-color: rgba(0, 0, 0, 0.8); /*original value:0.33*/
	font-size: 15px;
	line-height: 35px;
	color: #f9f9f9;
	text-align: center;
	margin: 0 auto;
}

.section-theater-body {
	background-color: #f9f9f9;
	padding: 49px 0 120px 0;
}

.section-theater-body .wrap {
	display: block;
	width: 1020px;
	margin: 0 auto;
	position: relative;
}

.section-theater-body .wrap .selector {
	display: block;
	width: auto;
	margin: 0 auto 49px auto;
	text-align: center
}

.section-theater-body .wrap .selector li {
	cursor: pointer;
	display: block;
	width: 134px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #d8d8d8;
	display: inline-block;
	margin: 0 0 0 -5px;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	background-color: #fff;
}

.section-theater-body .wrap .selector li.selected {
	color: #c39c71;
	background: #fff url("/images/theaters/bg-selector.png") center bottom
		repeat-x;
}

.section-theater-body .wrap .selector li:first-child {
	margin-left: 0;
}

.section-theater-body .wrap .cal {
	margin-bottom: 29px;
}

.section-theater-body .wrap .cal .big-m {
	display: inline-block;
	padding-left: 95px;
	font-size: 38px;
	color: #000;
	font-weight: 500;
}

.section-theater-body .wrap .cal .small-yyyym {
	display: inline-block;
	padding-left: 2px;
	font-size: 16px;
	color: #7d7d7d;
	font-weight: 300;
}

.section-theater-body .wrap .cal ul {
	margin: 6px 0 0 0;
}

.section-theater-body .wrap .cal ul li {
	display: inline-block;
	margin: 0 9px;
	vertical-align: top;
}

.section-theater-body .wrap .cal ul li a {
	display: block;
	width: 38px;
	height: 64px;
	text-align: center;
	color: #000;
	font-size: 20px;
	line-height: 30px;
	position: relative;
}

.section-theater-body .wrap .cal ul li a .day {
	display: block;
	color: #555;
	font-size: 15px;
	padding: 11px 0 4px 0;
}

.section-theater-body .wrap .cal ul li a.prev {
	width: 58px;
	background: url("../images/cinema/btn-cal-prev.png") center center
		no-repeat;
	overflow: hidden;
	text-indent: -10000em;
}

.section-theater-body .wrap .cal ul li a.prev:hover {
	background: url("../images/cinema/btn-cal-prev-on.png") center center
		no-repeat;
}

.section-theater-body .wrap .cal ul li a.next {
	width: 58px;
	background: url("../images/cinema/btn-cal-next.png") center center
		no-repeat;
	overflow: hidden;
	text-indent: -10000em;
}

.section-theater-body .wrap .cal ul li a.next:hover {
	background: url("../images/cinema/btn-cal-next-on.png") center center
		no-repeat;
}

.section-theater-body .wrap .cal ul li a.today::before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 17px;
	background-color: #000;
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

.section-theater-body .wrap .cal ul li a.selected {
	background: url("../images/cinema/bg-cal-selected.png") center center
		no-repeat;
	color: #fff;
}



.section-theater-body .wrap .cal ul li a.selected .day {
	color: #fff;
}

.section-theater-body .wrap .cal ul li a.selected.today::before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 17px;
	background-color: #fff;
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

.section-theater-body .wrap .cal ul li a.sat {
	color: #538aca;
}

.section-theater-body .wrap .cal ul li a.sat .day {
	color: #538aca;
}

.section-theater-body .wrap .cal ul li a.sat.today::before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 17px;
	background-color: #538aca;
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

.section-theater-body .wrap .cal ul li a.sun {
	color: #d13d49;
}

.section-theater-body .wrap .cal ul li a.sun .day {
	color: #d13d49;
}

.section-theater-body .wrap .cal ul li a.sun.today::before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 17px;
	background-color: #d13d49;
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

.section-theater-body .wrap .cal ul li a.disabled {
	color: #d8d8d8;
}

.section-theater-body .wrap .cal ul li a.disabled .day {
	color: #d8d8d8;
}

.section-theater-body .wrap .cal ul li a.disabled.today::before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 17px;
	background-color: #d8d8d8;
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

.section-theater-body .wrap .selector-sub {
	float: right;
	text-align: right;
	width: 180px;
	margin: -55px 30px 0 0;
	font-size: 18px;
}

.section-theater-body .wrap .selector-sub a {
	color: #9b9b9b;
}

.section-theater-body .wrap .selector-sub a.selected {
	color: #000;
}

.section-theater-body .wrap .selector-sub a:hover {
	color: #000;
}

.section-theater-body .wrap .content {
	width: 958px;
	background-color: #fff;
	padding: 7px 31px 60px 31px;
}

.section-theater-body .wrap .content .desc {
	width: 557px;
	border-bottom: 1px solid #ccc;
	text-align: right;
	font-size: 13px;
	color: #7d7d7d;
	line-height: 20px;
	margin-left: auto;
	padding-bottom: 15px;
}

.section-theater-body .wrap .content .desc li {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	margin-right: 15px;
}

.section-theater-body .wrap .content .desc .rate-all,
	.section-theater-body .wrap .content .desc .rate-12,
	.section-theater-body .wrap .content .desc .rate-15,
	.section-theater-body .wrap .content .desc .rate-x,
	.section-theater-body .wrap .content .desc .rate-n {
	font-weight: bold;
	color: #fff;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 6px;
	position: relative;
	padding: 0;
	overflow: hidden;
	text-indent: -10000em;
	position: relative;
	top: 5px;
}

.section-theater-body .wrap .content .desc .rate-all {
	background: url("../images/movies/icon-rate-all.png") center center
		no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .desc .rate-12 {
	background: url("../images/movies/icon-rate-12.png") center center
		no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .desc .rate-15 {
	background: url("../images/movies/icon-rate-15.png") center center
		no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .desc .rate-x {
	background: url("../images/movies/icon-rate-x.png") center center
		no-repeat;
	background-size: cover;
}


.section-theater-body .wrap .content .desc .rate-n {
	background: url("../images/movies/icon-rate-n.png") center center
		no-repeat;
}

.section-theater-body .wrap .content .table-movie-time {
	width: 720px;
	margin: 50px auto 0 auto;
}

.section-theater-body .wrap .content .table-movie-time tr td {
	text-align: center;
	padding: 18px 0 10px 0;
	border: 1px solid #ccc;
	position: relative;
}

.section-theater-body .wrap .content .table-movie-time tr td:nth-child(1)
	{
	width: 120px;
	font-size: 14px;
	color: #7d7d7d;
}

.section-theater-body .wrap .content .table-movie-time tr td:nth-child(2)
	{
	width: 345px;
	text-align: left;
	padding-left: 15px;
}

.section-theater-body .wrap .content .table-movie-time tr td:nth-child(3)
	{
	width: 120px;
}

.section-theater-body .wrap .content .table-movie-time tr td:nth-child(4)
	{
	width: 120px;
}



.section-theater-body .wrap .content .table-movie-time tr td .from {
	font-size: 17px;
	line-height: 17px;
	display: block;
	color: #000;
	padding-right: 16px;
}

.section-theater-body .wrap .content .table-movie-time tr td .to {
	font-size: 14px;
	color: #7d7d7d;
	padding-left: 16px;
}

.section-theater-body .wrap .content .table-movie-time tr td .title {
	font-size: 20px;
	font-weight: bold;
	color: #494949;
}

.section-theater-body .wrap .content .table-movie-time tr td .title .aux
	{
	color: #c39c71;
}

.section-theater-body .wrap .content .table-movie-time tr td .title:hover
	{
	color: #000;
}

.section-theater-body .wrap .content .table-movie-time tr td .screen-name
	{
	font-size: 15px;
	font-weight: 300;
	display: block;
	margin-top: -5px;
}

.section-theater-body .wrap .content .table-movie-time tr td .theater-name
	{
	font-size: 12px;
	color: #7d7d7d;
	display: block;
	margin-top: -2px;
}

.section-theater-body .wrap .content .table-movie-time tr td .left {
	position: absolute;
	display: block;
	z-index: 1;
	text-align: right;
	right: 55px;
	top: 12px;
}

.section-theater-body .wrap .content .table-movie-time tr td .seats {
	background: url("/images/theaters/bg-seats-slash.png") center center
		no-repeat;
	width: 44px;
	height: 27px;
	position: absolute;
	overflow: hidden;
	text-indent: -10000em;
	left: 42px;
	top: 23px;
}

.section-theater-body .wrap .content .table-movie-time tr td .all {
	position: absolute;
	display: block;
	z-index: 1;
	text-align: right;
	right: 31px;
	top: 33px;
	font-size: 12px;
	color: #7d7d7d;
}

.section-theater-body .wrap .content .each-movie-time {
	margin: 49px 0 59px;
}

.section-theater-body .wrap .content .each-movie-time:last-child {
	margin-bottom: 0;
}

.section-theater-body .wrap .content .each-movie-time:after {
	content: "";
	display: table;
	clear: both;
}

.section-theater-body .wrap .content .each-movie-time .title {
	font-size: 20px;
	font-weight: bold;
	color: #494949;
	margin-bottom: 11px;
}

.section-theater-body .wrap .content .each-movie-time .movie-title {
    font-size: 20px;
    font-weight: bold;
    color: #494949;
    margin-bottom: 11px;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .rate-all,
	.section-theater-body .wrap .content .each-movie-time .movie-title .rate-12,
	.section-theater-body .wrap .content .each-movie-time .movie-title .rate-15,
	.section-theater-body .wrap .content .each-movie-time .movie-title .rate-n,
	.section-theater-body .wrap .content .each-movie-time .movie-title .rate-x {
	font-weight: bold;
	color: #fff;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 6px;
	position: relative;
	padding: 0;
	overflow: hidden;
	text-indent: -10000em;
	position: relative;
	top: 2px;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .rate-all {
	background: url("../images/movies/icon-rate-all.png") center center no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .rate-12 {
	background: url("../images/movies/icon-rate-12.png") center center no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .rate-15 {
	background: url("../images/movies/icon-rate-15.png") center center no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .rate-x {
	background: url("../images/movies/icon-rate-x.png") center center no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .rate-n {
	background: url("../images/movies/icon-rate-n.png") center center no-repeat;
	background-size: cover;
}

.section-theater-body .wrap .content .each-movie-time .movie-title .aux {
	color: #c39c71;
	font-weight: normal;
}

.section-theater-body .wrap .content .each-movie-time .screen {
	margin-bottom: 13px;
}

.section-theater-body .wrap .content .each-movie-time .screen:after {
	content: "";
	display: table;
	clear: both;
}

.section-theater-body .wrap .content .each-movie-time .screen .screen-name
	{
	display: block;
	float: left;
	width: 115px;
	height: 69px;
	margin-right: 5px;
	border: 1px solid #b4b5b5;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	color: #666;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block
	{
	display: block;
	float: left;
	width: 836px;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time
	{
	display: block;
	width: 120px;
	height: 69px;
	float: left;
	box-sizing: border-box;
	border: 1px solid #b4b5b5;
	margin-left: -1px;
	position: relative;
	text-align: center;
	line-height: 46px;
	font-size: 16px;
	margin-bottom: -1px;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time a
	{
	color: #7d7d7d;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time a:hover
	{
	color: #fff;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time:nth-child(7n-6)
	{
	margin-left: 0;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time:hover
	{
	background-color: #3a3a3a;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time:hover>a>.to
	{
	display: inline;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time>a>.to
	{
	display: none;
}

.section-theater-body .wrap .content .each-movie-time .screen .time-block .time .seats-status
	{
	position: absolute;
	bottom: 0;
	border-top: 1px solid #b4b5b5;
	display: block;
	width: 120px;
	line-height: 21px;
	color: #b7b7b7;
	font-size: 14px;
}

.section-theater-body .wrap .expl {
	width: 958px;
	background-color: #efefef;
	padding: 40px 31px 40px 31px;
}

.section-theater-body .wrap .expl ul li {
	font-size: 14px;
	color: #7d7d7d;
}

.section-theater-body .wrap .expl ul li:before {
	margin-right: 0.4em;
	position: relative;
	top: -0.05em;
}




.section-theater-speicalbtnbox {
	display: block;
	margin: 20px auto;
	text-align: center;
}

.section-theater-speicalbtnbox .btninspecial {
	width: 300px;
	height: 50px;
	background-color: #cd1221;
	font-size: 17px;
	color: #fff;
	line-height: 47px;
	display: inline-block;
	margin: 29px 0 0 30px;
}

.wrap-partner-box {
	width: 850px;
	margin: 60px auto 60px;
	padding: 30px 85px 100px 85px;
	background-color: #fff;
	position: relative;
}

.wrap-partner-box .selector {
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	padding-bottom: 60px;
	border-bottom: 1px solid #efefef;
}

.wrap-partner-box .selector a {
	display: inline-block;
	position: relative;
	color: #7d7d7d;
	width: 100px;
	text-align: center;
}

.wrap-partner-box .selector .selected {
	color: #ca141e;
	font-weight: bold;
	text-decoration: underline;
}

.wrap-partner-box .selector a:hover {
	color: #000;
}

.wrap-partner-box .selector a:nth-child(1) {
	width: 130px;
}

.wrap-partner-box .selector a:nth-child(2) {
	width: 130px;
}

.wrap-partner-box .selector a:nth-child(3) {
	width: 130px;
}

.wrap-partner-box .selector a:nth-child(4) {
	width: 130px;
}

.wrap-partner-box .contentbox {
	padding: 5px 0 0;
	vertical-align: top;
	border-bottom: 1px solid #efefef;
}

.wrap-partner-box .contentbox .partnerimg {
	width: 250px;
	background: #efefef;
	display: inline-block;
}

.wrap-partner-box .contentbox .partnertxt {
	width: 570px;
	color: #666;
	vertical-align: top;
	display: inline-block;
	line-height: 22pt;
	margin-left: 20px;
	padding-top: 10px;
	vertical-align: top;
	display: inline-block;
	line-height: 22pt;
	margin-left: 20px;
}

.wrap-partner-box .contentbox .partnertxt h4 {
	font-size: 12pt;
	color: #333;
	padding-bottom: 5px;
}

.wrap-partner-box .contentbox .thumbnail {
	width: 250px;
	height: 141px;
}

.wrap-partner-box .contentbox .partnertxt li, .partnerlabel {
	font-size: 10pt;
	width: 40px;
	color: #111;
}

.wrap-partner-box .contentbox .partnertxt .partnertxtvalue {
	font-size: 10pt;
}

.title {
	width: 115px;
	height: 40px;
	border-bottom: 2px solid #979797;
	font-size: 25px;
	color: #666;
	margin: 0 auto;
	text-align: center;
}

/*============================================================
/*
/* [m]: bbs
/*
============================================================== */
table.bbs-list {
	border: 1px solid #7d7d7d;
	border-width: 1px 0;
	width: 100%;
}

table.bbs-list th {
	font-weight: normal;
	font-size: 14px;
	color: #4a4a4a;
	background-color: #f3f3f3;
	height: 46px;
	line-height: 46px;
}

table.bbs-list tr td {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 14px;
}

table.bbs-list tr td.no, table.bbs-list tr td.screen, table.bbs-list tr td.kind,
	table.bbs-list tr td.date, table.bbs-list tr td.period, table.bbs-list tr td.status
	{
	text-align: center;
}

table.bbs-list tr td a {
	color: #666;
}

table.bbs-list tr td a:hover {
	color: #000;
}

table.bbs-list tr td.ing {
	color: #c39c71;
}

table.bbs-list tr:last-child td {
	border-bottom: none;
}

table.bbs-list.bbs-list-faq tr td:nth-child(1) {
	width: 90px;
}

table.bbs-list.bbs-list-faq tr td:nth-child(2) {
	width: 160px;
}

table.bbs-list.bbs-list-faq tr .answer {
	line-height: 2em;
	padding: 26px 20px 34px 249px;
	background-color: #fff7f7;
}

table.bbs-list.bbs-list-faq tr.tr-answer {
	display: none;
}

table.bbs-list.bbs-list-event-winner tr td:nth-child(1) {
	width: 90px;
}

table.bbs-list.bbs-list-event-winner tr td:nth-child(3) {
	width: 200px;
}

table.bbs-list.bbs-list-event-winner tr td:nth-child(4) {
	width: 150px;
}

table.bbs-list.bbs-1to1-membership tr th {
	border-bottom: 1px solid #ccc;
	width: 110px;
	text-align: left;
	padding-left: 40px;
}

table.bbs-list.bbs-1to1-membership tr th:after {
	content: "";
	border-right: 1px solid #ccc;
	display: block;
	height: 20px;
	position: relative;
	margin-top: -32px;
}

table.bbs-list.bbs-1to1-membership tr td {
	padding-left: 30px;
	font-weight: bold;
}

table.bbs-list.bbs-1to1-membership tr:last-child th {
	border-bottom: none;
}

table.bbs-list.bbs-list-mypage-coupon td {
	text-align: center;
}

table.bbs-list.bbs-list-mypage-coupon td:nth-child(5) {
	text-align: left;
}

table.bbs-list.bbs-list-mypage-coupon .serial-no {
	color: #c39c71;
}

table.bbs-list.bbs-list-mypage-coupon .used {
	color: #b7b7b7;
}

table.bbs-list.bbs-list-mypage-coupon .btn-delete {
	display: inline-block;
	width: 40px;
	height: 23px;
	box-sizing: border-box;
	background-color: #f3f3f3;
	border: 1px solid #b7b7b7;
	text-align: center;
	line-height: 21px;
	font-size: 11px;
	color: #555;
}

table.bbs-list.bbs-list-mypage-coupon .btn-delete:hover {
	color: #000;
	border: 1px solid #000;
}

table.bbs-list.bbs-list-mypage-login td {
	text-align: center;
}

table.bbs-list.bbs-list-mypage-login .ip {
	color: #c39c71;
}

table.bbs-list.bbs-list-mypage-membership td {
	text-align: center;
}

table.bbs-list.bbs-list-mypage-membership td:nth-child(1) {
	width: 50px;
}

table.bbs-list.bbs-list-mypage-membership td:nth-child(7) {
	text-align: right;
	padding-right: 20px;
}

table.bbs-list.bbs-list-mypage-membership td:nth-child(8) {
	text-align: right;
	width: 112px;
}

table.bbs-list.bbs-list-mypage-membership .serial-no {
	color: #c39c71;
}

table.bbs-list.bbs-list-mypage-membership .minus {
	color: #333;
	font-weight: bold;
}

table.bbs-list.bbs-list-mypage-membership .plus {
	color: #ed1c24;
	font-weight: bold;
}

table.bbs-list.bbs-list-coupon {
	margin: 19px 0 14px;
}

table.bbs-list.bbs-list-coupon th {
	text-align: center;
	height: 36px;
	line-height: 36px;
}

table.bbs-list.bbs-list-coupon td {
	position: relative;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

table.bbs-list.bbs-list-coupon td:nth-child(1) {
	width: 70px;
}

table.bbs-list.bbs-list-coupon td:nth-child(2) {
	text-align: left;
}

table.bbs-list.bbs-list-coupon td:nth-child(4) {
	width: 165px;
}

table.bbs-list.bbs-list-coupon td:nth-child(5) {
	width: 60px;
}

table.bbs-list.bbs-list-coupon .serial-no {
	color: #c39c71;
}

table.bbs-list.bbs-list-coupon .minus {
	color: #333;
	font-weight: bold;
}

table.bbs-list.bbs-list-coupon .plus {
	color: #ed1c24;
	font-weight: bold;
}

table.bbs-list.bbs-list-smartcon {
	margin: 19px 0 14px;
}

table.bbs-list.bbs-list-smartcon th {
	text-align: center;
	height: 36px;
	line-height: 36px;
}

table.bbs-list.bbs-list-smartcon td {
	position: relative;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

table.bbs-list.bbs-list-smartcon td:nth-child(1) {
	width: 70px;
}

table.bbs-list.bbs-list-smartcon td:nth-child(2) {
	text-align: left;
}

table.bbs-list.bbs-list-smartcon td:nth-child(4) {
	width: 165px;
}

table.bbs-list.bbs-list-smartcon td:nth-child(5) {
	width: 60px;
}

table.bbs-list.bbs-list-smartcon .serial-no {
	color: #c39c71;
}

table.bbs-list.bbs-list-smartcon .minus {
	color: #333;
	font-weight: bold;
}

table.bbs-list.bbs-list-smartcon .plus {
	color: #ed1c24;
	font-weight: bold;
}

table.bbs-list.bbs-list-membership-info1, table.bbs-list.bbs-list-membership-info2,
	table.bbs-list.bbs-list-membership-info3 {
	border-width: 2px 0 2px;
	margin: 30px 0 0 0;
}

table.bbs-list.bbs-list-membership-info1 th, table.bbs-list.bbs-list-membership-info2 th
	{
	font-size: 14px;
	color: #333;
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;
}

table.bbs-list.bbs-list-membership-info1 th:first-child, table.bbs-list.bbs-list-membership-info2 th:first-child
	{
	border-left: none;
}

table.bbs-list.bbs-list-membership-info1 td, table.bbs-list.bbs-list-membership-info2 td
	{
	font-size: 14px;
	color: #666;
	vertical-align: middle;
}

table.bbs-list.bbs-list-membership-info1 td:first-child, table.bbs-list.bbs-list-membership-info2 td:first-child
	{
	border-left: none;
}

table.bbs-list.bbs-list-membership-info1 td:nth-child(1), table.bbs-list.bbs-list-membership-info2 td:nth-child(1)
	{
	text-align: center;
}

table.bbs-list.bbs-list-membership-info1 td {
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;
}

table.bbs-list.bbs-list-membership-info1 td:nth-child(2) {
	padding-left: 21px;
}

table.bbs-list.bbs-list-membership-info1 td:nth-child(3) {
	text-align: center;
	line-height: 16px;
}

table.bbs-list.bbs-list-membership-info2 td:nth-child(2) {
	padding: 0 21px;
}

table.bbs-list.bbs-list-membership-info2 td:last-child {
	font-size: 12px;
	padding: 0 18px;
	text-align: left;
	line-height: 14px;
}

table.bbs-list.bbs-list-membership-info2 td.product {
	width: 170px;
}

table.bbs-list.bbs-list-membership-info2 td.location {
	width: 128px;
	font-size: 14px;
	padding: 0 21px;
	text-align: center;
	line-height: 24px;
	border: 1px solid #ccc;
}

table.bbs-list.bbs-list-membership-info3 td:nth-child(1) {
	padding: 0 21px;
	text-align: center;
	line-height: 22px;
}

table.bbs-list.bbs-list-membership-info3 td:nth-child(2) {
	padding: 0 21px;
	text-align: center;
	line-height: 22px;
}

table.bbs-list.bbs-list-membership-info3 td:nth-child(3) {
	padding: 0 21px;
	text-align: center;
	line-height: 22px;
}

table.bbs-list.bbs-list-membership-info3 td:last-child {
	padding: 0 21px;
	text-align: center;
	line-height: 22px;
}

table.bbs-list.bbs-list-membership-info3 td.product {
	width: 170px;
}

table.bbs-list.bbs-list-membership-info3 td.location {
	width: 128px;
	font-size: 14px;
	padding: 0 21px;
	text-align: center;
	line-height: 24px;
	border: 1px solid #ccc;
}

table.bbs-view {
	border: 1px solid #7d7d7d;
	border-width: 1px 0;
	width: 100%;
}

table.bbs-view th {
	font-weight: normal;
	font-size: 14px;
	color: #4a4a4a;
	background-color: #f3f3f3;
	height: 46px;
	line-height: 46px;
}

table.bbs-view tr td {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 14px;
}

table.bbs-view tr td.title {
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
}

table.bbs-view tr td.kind, table.bbs-view tr td.screen, table.bbs-view tr td.date,
	table.bbs-view tr td.status {
	text-align: center;
}

table.bbs-view tr td.nav {
	text-align: left;
}

table.bbs-view tr td.content {
	text-align: left;
	padding: 45px 44px;
	line-height: 1.57em;
}

table.bbs-view tr td.content p {
	margin: 0 0 1em 0;
}

table.bbs-view tr td.content p:last-child {
	margin: 0;
}

table.bbs-view tr td.content img {
	margin: 0 0 1em 0;
	max-width: 762px !important;
	height: auto;
}

table.bbs-view tr td.content .original-inquiry-box {
	margin: 40px -44px 0 -44px;
	background-color: #fff7f7;
	padding: 30px 39px;
}

table.bbs-view tr td a {
	color: #666;
}

table.bbs-view tr td a:hover {
	color: #000;
}

table.bbs-view tr td.ing {
	color: #c39c71;
}

table.bbs-view tr td .prev {
	background: url("/images/customer/icon-nav-prev.png") 5px center
		no-repeat;
	padding: 0 9px 0 29px;
	color: #9b9b9b;
}

table.bbs-view tr td .next {
	background: url("/images/customer/icon-nav-next.png") 5px center
		no-repeat;
	padding: 0 9px 0 29px;
	color: #9b9b9b;
}

table.bbs-view tr td.share {
	height: 79px;
}

table.bbs-view tr td.share ul {
	margin-top: 20px;
}

table.bbs-view tr td.share ul:before {
	content: "�좎럩伊숋옙占쎈쐻占싼됯콪占쎌쥙�댐옙�얠삕占쎈뜆援�";
	border-right: 1px solid #ccc;
	display: inline-block;
	padding-right: 18px;
	height: 30px;
	line-height: 30px;
	position: relative;
	top: -14px;
	font-size: 16px;
	margin-right: 18px;
	margin-left: 27px;
}

table.bbs-view tr td.share ul li {
	display: inline-block;
	margin-right: 12px;
}

table.bbs-view tr td.share ul li a {
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-indent: -10000em;
}

table.bbs-view tr td.share ul li a.ks {
	background: url("/images/event/icon-share-ks-off.png") center center
		no-repeat;
}

table.bbs-view tr td.share ul li a.ks:hover {
	background-image: url("/images/event/icon-share-ks-on.png");
}

table.bbs-view tr td.share ul li a.bd {
	background: url("/images/event/icon-share-bd-off.png") center center
		no-repeat;
}

table.bbs-view tr td.share ul li a.bd:hover {
	background-image: url("/images/event/icon-share-bd-on.png");
}

table.bbs-view tr td.share ul li a.fb {
	background: url("/images/event/icon-share-fb-off.png") center center
		no-repeat;
}

table.bbs-view tr td.share ul li a.fb:hover {
	background-image: url("/images/event/icon-share-fb-on.png");
}

table.bbs-view tr:last-child td {
	border-bottom: none;
}

table.bbs-view.bbs-view-event tr td:nth-child(2) {
	width: 210px;
}

table.bbs-view.bbs-view-event tr td:nth-child(3) {
	width: 150px;
}

table.bbs-view.bbs-view-branch-event tr td:nth-child(2) {
	width: 210px;
}

table.bbs-view.bbs-view-branch-event tr td:nth-child(3) {
	width: 150px;
}

table.bbs-view.bbs-view-branch-event tr td:nth-child(4) {
	width: 90px;
}

table.bbs-list.bbs-list-theater-price th {
	border-bottom: 1px solid #ccc;
	background-color: #f3f3f3;
	text-align: center;
}

table.bbs-list.bbs-list-theater-price th {
	border-bottom: 1px solid #ccc;
	background-color: #f3f3f3;
	text-align: center;
}

table.bbs-list.bbs-list-theater-price td {
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #ccc;
}

table.bbs-list.bbs-list-theater-price td:nth-child(1) {
	border-left-width: 0;
	border-right: 1px solid #ccc;
}

table.bbs-list.bbs-list-theater-price td.time {
	border-left-width: 1px;
	width: 86px;
}

table.bbs-list.bbs-list-theater-price td[rowspan] {
	border-bottom-width: 0;
}

table.bbs-list.bbs-list-theater-price td.kind1 {
	border-top: 1px solid #ccc;
	width: 86px;
}

table.bbs-list.bbs-list-theater-price td.kind2 {
	width: 170px;
}

.section-pop-pricetable {
	width: 720px;
	display: block;
	margin: 0 auto;
}
/*癲ル슣�삼옙�용쐻占쎌늿��*/
.section-theater-body .wrap .addr {
	height: 48px;
	background-color: rgba(0, 0, 0, 0.66);
	line-height: 48px;
	font-size: 16px;
	padding-left: 22px;
	color: #fff;
	position: relative;
	z-index: 10;
	margin-top: 40px;
}

.section-theater-body .wrap .map {
	position: relative;
	top: -48px;
}

.section-theater-body .wrap-map {
	margin-bottom: -68px;
}

.section-theater-body .wrap-event-box {
	width: 1020px;
	background-color: #fff;
	margin: 30px auto 0;
	min-height: 280px;
	padding: 60px 85px;
}

.section-theater-body .wrap-special-box {
	width: 1020px;
	background-color: #fff;
	margin: 0 auto 0;
	min-height: 280px;
	padding: 0;
}

.section-theater-location {
	background-color: #efefef;
	padding: 79px 0 105px 0;
}

.section-theater-location .wrap {
	text-align: center;
	display: block;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.section-theater-location .wrap h2.location-title {
	display: block;
	margin: 0 auto 67px;
	font-size: 28px;
	color: #666;
	font-weight: bold;
	line-height: 49px;
}

.section-theater-location .wrap h2.location-title::after {
	content: "";
	border-bottom: 2px solid #979797;
	width: 108px;
	display: block;
	margin: 0 auto;
}

.section-theater-location .wrap .table-location {
	width: 100%;
	margin-top: 24px;
}

.section-theater-location .wrap .table-location caption {
	font-size: 22px;
	text-align: center;
	width: 160px;
	font-weight: normal;
	color: #666;
	height: 42px;
}

.section-theater-location .wrap .table-location tr {
	border-bottom: 3px solid #efefef;
}

.section-theater-location .wrap .table-location tr th {
	width: 160px;
	overflow: hidden;
	text-indent: -10000em;
	height: 99px;
}

.section-theater-location .wrap .table-location tr th.subway {
	background: #f9f9f9 url("../images/cinema/icon-subway.png") center
		center no-repeat;
}

.section-theater-location .wrap .table-location tr th.bus {
	background: #f9f9f9 url("../images/cinema/icon-bus.png") center center
		no-repeat;
}

.section-theater-location .wrap .table-location tr th.car {
	background: #f9f9f9 url("../images/cinema/icon-car.png") center center
		no-repeat;
}

.section-theater-location .wrap .table-location tr th.parking {
	background: #f9f9f9 url("../images/cinema/icon-parking.png") center
		center no-repeat;
}

.section-theater-location .wrap .table-location tr td {
	background-color: #fff;
	font-size: 14px;
	color: #7d7d7d;
	vertical-align: middle;
	padding-left: 20px;
	text-align: left;
}

.section-theater-location .wrap .table-location tr td .kind {
	display: inline-block;
	font-size: 12px;
	color: #c39c71;
	min-width: 32px;
	height: 16px;
	box-sizing: border-box;
	line-height: 13px;
	border: 1px solid #c39c71;
	text-align: center;
	margin-right: 12px;
	padding: 0 4px;
}

.section-theater-location .wrap .table-location tr td .notice {
	color: #555;
	padding: 0 0 6px 0;
	display: block;
}
  .section-theater-body .wrap {
    display: block;
    width: 1020px;
    margin: 0 auto;
    position: relative; }
    .section {
    clear: both;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.gm-style .gm-style-iw-c {
	display:inline;
	padding-right: 82px !important;
    padding-bottom: 39px !important;
    max-width: 653px !important;
    max-height: 342px !important;
    min-width: 0px !important;
    border: 3px solid #673bd4;
    background-color: #673bd4;
}
.gm-style-iw-d div{
	color: white;
}
.gm-style .gm-style-iw-tc{
	display: none;
}

.gm-style .gm-style-iw {
    font-weight: 600;
    font-size: 19px;
    overflow: hidden;
    border: 6px solid #fff;
}

