@charset "EUC-KR";
a{
	color:#000;
}

h2.tit {
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
    margin-top: 50px;
}
.inner-wrap {
    width: 1100px;
    margin: 0 auto
}

.inner-wrap:after,.inner-wrap:before {
    content: '';
    display: table
}

.inner-wrap:after {
    clear: both
}

.theater-box {
    position: relative;
    display: block;
    width: 100%;
    min-height: 190px;
    border: 1px solid #4d4d4d;
    /* border-radius: 10px; */
}

/* 타이틀 */
.wrap-sitemap-title h2.sitemap-title {
	display: inline-block;
	margin: 0 auto;
	font-size: 25px;
	color: #666;
	font-weight: normal;
	padding-top: 50px;
	height: 46px;
}

.wrap-sitemap-title {
	background-color: #e5e5e5;
	width: 100%;
	height: 134px;
	text-align: center;
}



.theater-box {
	margin-top: 30px;
	position: relative;
	display: block;
	width: 100%;
	min-height: 190px;
	border: 2px solid #a3a3a3;
	/* border-radius: 10px; */
	background-color: #f9f9f9;
}

.theater-box .theater-place {
    width: 100%;
    height: 48px;
    border-bottom: 2px solid #e0e0e0;
}
.theater-box .theater-place>ul{
	 float: left;
}

.theater-box .theater-place>ul:after {
    /* display: block; */
    /* clear: both; */
    /* content: ''; */
}

.theater-box .theater-place>ul>li {
    width: 136px;
    height: 48px;
    line-height: 48px;
    border-width: 0 1px 1px 0;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    
}


.theater-box .theater-place>ul>li.on {
    background: #673bd4;
    /* border: 1px solid #555; */
}

.theater-box .theater-place>ul>li.on>button {
    color: #fff
}

.theater-box .theater-place ul li:last-child,.theater-box .theater-place>ul>li:first-child {
    /* width: 138px; */
}

.theater-box .theater-place>ul>li:first-child {
    width: 140px
}

.theater-box .theater-place>ul>li:last-child {
    border-right: none;
    border-right: 2px solid #ececec;
}

.theater-box .theater-place>ul>li.on .theater-list {
    display: block !important;
}

.theater-box .theater-list {
    /* display: none; */
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    min-height: 85px;
    padding: 30px 0
}

.theater-box .theater-list ul {
    overflow: hidden;
    width: 900px;
}


.theater-box .theater-list ul li {
    position: relative;
    float: left;
    width: 25%;
    line-height: 26px;
    text-align: left;
    padding-left: 40px;
    font-weight: 100;
    font-size: 16px;
    color: #000;
}

.theater-box .theater-list ul li a {
    color: #444
}

.theater-box .theater-list ul li:nth-child(2):after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1px;
    height: 1000%;
    background: #e0e0e0
}

.theater-box .theater-list ul li:nth-child(3):after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1px;
    height: 1000%;
    background: #e0e0e0
}

.theater-box .theater-list ul li:nth-child(4):after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1px;
    height: 1000%;
    background: #e0e0e0
}

.theater-box .theater-list ul li span.favorit-theater {
    position: absolute;
    left: 25px
}

.theater-box .user-theater {
    position: absolute;
    /* padding: 0px 20px; */
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 54px;
    /* border-radius: 0 0 10px 10px; */
    background-color: #e4e4e4;
}

.theater-box .user-theater ul.theater-circle {
    display: inline-block;
    margin: 0 20px
}

.theater-box .user-theater ul.theater-circle li {
    display: inline-block;
    padding: 0 15px;
    margin: 0 2px;
    height: 25px;
    line-height: 24px;
    border-radius: 25px;
    background-color: #fff
}

.theater-box .user-theater a.button.float-r {
    float: right;
    margin-top: 12px
}




/* 극장 공지사항 */
.table-wrap {
    position: relative;
    border-top: 1px solid #555
}

table {
    width: 100%;
    margin: 0;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show
}

table caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    opacity: 0
}

table td,table th {
    padding: 0
}

table.left td,table.left th {
    text-align: left
}

table.center td,table.center th {
    text-align: center
}

table select {
    border-radius: 0
}

.data-table .mem-point-info {
    text-align: left;
    box-sizing: border-box
}

.data-table td,.data-table th,.data-table tr {
    padding: 10px 20px
}

.data-table th.bg {
    padding: 10px 20px;
    background-color: #f7f8f9
}

.data-table thead th {
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #f7f8f9
}

.data-table thead th:last-child {
    border-right: 0
}

.data-table tbody th {
    padding: 0;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea
}

.data-table tbody td {
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea
}

.data-table tbody td:last-child {
    border-right: 0
}

.data-table.bg tbody th {
    padding: 0 15px;
    background-color: #f7f8f9
}


.board-list {
    line-height: 1.3
}

.board-list p {
    margin: 0;
    padding: 0
}

.board-list p.code {
    display: inline-block;
    font-size: 13px;
    color: #999
}

.board-list>thead>tr>th {
    /* height: 45px; */
    padding: 3px 10px;
    color: #222;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    background-color: #f2f4f5;
    line-height: 50px;
}

.board-list>tbody>tr>td,.board-list>tbody>tr>th {
    height: 45px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    text-align: center
}

.board-list>tbody>tr>th {
    text-align: left;
    font-weight: 400
}

.board-list>tbody>tr>td>a,.board-list>tbody>tr>th>a {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.board-list>tbody>tr>td>a.ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.board-list.line>thead>tr>th {
    border-width: 0 1px 1px 0
}

.board-list.line>thead>tr>th:last-child {
    border-width: 0 0 1px 0
}

.board-list.line>tbody>tr>td,.board-list.line>tbody>tr>th {
    border-width: 0 1px 1px 0
}

.board-list.line>tbody>tr>td:last-child,.board-list.line>tbody>tr>th:last-child {
    border-width: 0 0 1px 0
}

.table-wrap.divide .scroll {
    overflow: hidden;
    overflow-y: auto
}

.board-view {
    word-break: break-all
}

.board-view .tit-area {
    display: table;
    width: 100%;
    padding: 15px 0
}

.board-view .tit-area .tit {
    display: table-cell;
    margin: 0;
    padding: 0;
    font-size: 1.1429em;
    color: #444;
    font-weight: 400
}

.tit-util .tit {
    float: left;
    padding: 0!important;
    line-height: 1.1
}

h3.tit {
    margin: 0;
    padding: 0 0 16px 0;
    font-size: 1.6em;
    font-weight: 400;
    color: #171717;
    line-height: 1.1
}


.tit-util:after, .tit-util:before {
	clear: both;
    content: '';
    display: block;
}

.tit-util .more {
    float: right
}

.tit-util .more i {
    margin-left: 5px
}

.tit-util .btn-more-cross {
    float: right
}

.mb15 {
    margin-bottom: 15px!important
}
.mt70 {
    margin-top: 70px!important
}
button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    width:100%;
    text-align: center!important;
}

button.reset {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

button:focus {
    outline: 1px dotted #000
}

.button {
    display: inline-block;
    /* height: 36px; */
    margin: 0;
    /* padding: 0 15px; */
    text-align: center;
    /* line-height: 34px; */
    color: #000000;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-decoration: none;
    border: 1px solid #535353;
    /* vertical-align: middle; */
    /* background-color: #fff; */
    cursor: pointer
}

.button:hover {
    color: #351f67;
    text-decoration: none;
    background-color: #f2f4f8
}

.button:focus {
    outline: 1px dotted #000
}

.button.small {
    height: 27px;
    padding: 0px 6px;
    line-height: 30px;
    font-size: .9333em;
}