@charset "UTF-8";

/*============================================================
/*
/* [m]: movie list
/*
============================================================== */
.posterlist {
	width: 170px;
	height: 243px;
}

.section-movie-list {
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #f9f9f9;
	padding: 0 0 120px;
    overflow: hidden;
    
    
/*     position: relative; */
/*     float: left; */
/*     width: 230px; */
/*     height: 450px; */
/*     margin: 0 0 0 60px; */
/*     padding: 0; */
/*     background-color: #fff; */
}

.section-movie-list.screening {
	padding-top: 169px;
}

.section-movie-list.latest, .section-movie-list.comming {
	padding-top: 117px;
}

.section-main-movie-list .main-movie-list .wrap-slider ul li .over-a .over-btn-info
	{
	background: #8080803b;
	border: 1px solid;
	border-radius: 5px;
	padding: 1px 38px;
	margin-left: 18px;
	
}

.section-movie-list ul {
	display: block;
	width: 890px;
	margin: 0 auto;
}

.section-movie-list ul li {
	display: inline-block;
	margin: 0 3px 33px 3px;
	position: relative;
	
/*     overflow: hidden; */
/*     position: relative; */
/*     float: left; */
/*     width: 230px; */
/*     height: 450px; */
/*     margin: 0 0 0 60px; */
/*     padding: 0; */
/*     background-color: #fff; */
}

.section-movie-list ul li:nth-child(5n-4) {
	margin-left: -4px;
}

.section-movie-list ul li:nth-child(5n) {
	margin-right: -4px;
}

.section-movie-list ul li .over-a {
	opacity: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 243px;
	position: absolute;
	top: 0;
	left: 0;
}

.section-movie-list ul li .over-a.on {
	display: block;
	opacity: 1;
}

/* .section-movie-list ul li .over-a.up { */
/* 	background: url("../images/movies/bg-list-hover-up.png") center center */
/* 		no-repeat; */
/* } */

/* .section-movie-list ul li .over-a.down { */
/* 	background: url("../movies/bg-list-hover-down.png") center center */
/* 		no-repeat; */
/* } */

.section-movie-list ul li .over-a a.rsv {
	display: block;
	width: 124px;
	height: 121px;
	line-height: 137px;
	font-size: 16px;
	color: #f3f3f3;
	font-weight: normal;
	padding-left: 50px;
	background-color: transparent;
}

.section-movie-list ul li .over-a a.info {
	display: block;
	width: 95px;
	height: 122px;
	line-height: 98px;
	font-size: 16px;
	color: #f3f3f3;
	font-weight: normal;
	padding-left: 50px;
	background-color: transparent;
}

.section-movie-list ul li .over-a a:hover {
	color: #C39C71;
}

.section-movie-list ul li .over-b {
	opacity: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 243px;
	position: absolute;
	top: 0;
	left: 0;
}

.section-movie-list ul li .over-b.on {
	display: block;
	opacity: 1;
}

.section-movie-list ul li .over-b.up {
	background: url("../images/movies/bg-list-hover-2.png") center center
		no-repeat;
}

.section-movie-list ul li .over-b a.info {
	display: block;
	width: 170px;
	height: 243px;
	line-height: 243px;
	font-size: 16px;
	color: #f3f3f3;
	font-weight: normal;
	text-align: center;
}

.section-movie-list ul li .over-b a.rsv {
	display: none;
}

.section-movie-list ul li .over-b a:hover {
	color: #C39C71;
}

.section-movie-list .btn-more {
	display: block;
	width: 720px;
	height: 41px;
	margin: 35px auto 0 auto;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	color: #7d7d7d;
	font-size: 16px;
	line-height: 41px;
	text-align: center;
}

.section-movie-list .btn-more:hover {
	color: #000;
	border: 1px solid #000;
}

.section-movie-list .selector {
	display: block;
	width: 880px;
	height: 15px;
	margin: 0 auto 37px auto;
	text-align: right;
	padding: 0 5px;
	font-size: 15px;
}

.section-movie-list .selector a {
	color: #7d7d7d;
}

.section-movie-list .selector a.selected {
	color: #000;
}

.section-movie-list .selector a:hover {
	color: #000;
}

/*============================================================
/*
/* [m]: movie list
/*
============================================================== */
.movie-desc {
    width: 154px;
    overflow: hidden !important;
    border: 1px solid #b4b5b5;
    height: 32px;
    padding: 0 7px;
    line-height: 31px;
    background-color: #fff;
    font-size: 14px;
    color: #89898a;
}

.movie-desc .rate-all, .movie-desc .rate-12, .movie-desc .rate-15,
	.movie-desc .rate-n, .movie-desc .rate-x {
	font-weight: bold;
	color: #fff;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 7px;
	position: relative;
	padding: 0;
	overflow: hidden;
	text-indent: -10000em;
	position: relative;
	top: 4px;
}

.movie-desc .rate-all {
	background: url("../images/movies/icon-rate-all.png") center center
		no-repeat;
}

.movie-desc .rate-12 {
	background: url("../images/movies/icon-rate-12.png") center center
		no-repeat;
}

.movie-desc .rate-15 {
	background: url("../images/movies/icon-rate-15.png") center center
		no-repeat;
}

.movie-desc .rate-x {
	background: url("../images/movies/icon-rate-x.png") center center
		no-repeat;
}

.movie-desc .rate-n {
	background: url("../images/movies/grade/icon-rate-n.png") center center
		no-repeat;
}

.movie-desc .label {
	display: block;
	width: 20px;
	height: 28px;
	overflow: hidden;
	background: url("../images/movies/icon-list-label.png") center center
		no-repeat;
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: #000;
}

.movie-date {
	border: 1px solid #b4b5b5;
	border-bottom: 0;
	padding: 0 7px;
	line-height: 31px;
	background-color: #fff;
	color: #89898a;
	font-size: 13px;
	text-align: right;
	position: relative;
}

.movie-date .rb-1, .movie-date .rb-2, .movie-date .rb-3 {
	display: block;
	position: absolute;
	top: 6px;
	left: 8px;
	width: 44px;
	height: 19px;
	padding-left: 10px;
	text-align: left;
	line-height: 16px;
	font-weight: bold;
	color: #fff;
}

.movie-date .rb-1 {
	background: url("../images/movies/icon-rb-1.png") center center
		no-repeat;
}

.movie-date .rb-2 {
	background: url("../images/movies/icon-rb-2.png") center center
		no-repeat;
}

.movie-date .rb-3 {
	background: url("../images/movies/icon-rb-3.png") center center
		no-repeat;
}

/* 예매하기 버튼*/
.movie-list ol li .btn-util .case.col-2 .button:first-child {
    margin-left: 0;
}
.movie-list ol li .btn-util .case.col-2 .button {
    width: 74px;
    margin-left: 5px;
}
.movie-list ol li .btn-util .case .button {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.button.purple {
    color: #fff;
    line-height: 36px;
    border: 0;
    background: #503396;
}
a.button {
    text-decoration: none;
}
a:link {
    color: #444;
    text-decoration: none;
}
.button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

/*============================================================
/*
/* [p]: movie info
/*
============================================================== */
.section-movie-info {
	background-color: #f9f9f9;
}

.section-movie-info .wrap {
	width: 720px;
	margin: 0 auto;
	padding: 56px 30px 140px 270px;
	background-color: #fff;
	position: relative;
}

.section-movie-info .wrap .poster {
	position: absolute;
	top: 56px;
	left: 65px;
	box-shadow: 2px 6px 15px 0 rgba(0, 0, 0, 0.65);
}

.section-movie-info .wrap h3 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 24px;
	border-bottom: 2px solid #7d7d7d;
	line-height: 22px;
	margin-top: -1px;
	color: #494949;
}

.section-movie-info .wrap h3 .rate-all, .section-movie-info .wrap h3 .rate-12,
	.section-movie-info .wrap h3 .rate-15, .section-movie-info .wrap h3 .rate-n,
	.section-movie-info .wrap h3 .rate-x {
	font-weight: bold;
	color: #fff;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 9px;
	position: relative;
	padding: 0;
	overflow: hidden;
	text-indent: -10000em;
	position: relative;
	top: 2px;
	left: 2px;
/* 	position: absolute; */
/*     left: 0; */
/*     top: 50%; */
/*     margin-top: -10px; */
}

.section-movie-info .wrap h3 .rate-all {
	background: url("../images/movies/grade/icon-rate-all.png") center center
		no-repeat;
	background-size: 23px 23px;
}

.section-movie-info .wrap h3 .rate-12 {
	background: url("../images/movies/grade/icon-rate-12.png") center center
		no-repeat;
	background-size: 23px 23px;
}

.section-movie-info .wrap h3 .rate-15 {
	background: url("../images/movies/grade/icon-rate-15.png") center center
		no-repeat;
	background-size: 23px 23px;
}

.section-movie-info .wrap h3 .rate-x {
	background: url("../images/movies/grade/icon-rate-x.png") center center
		no-repeat;
	background-size: 23px 23px;
		
}

.section-movie-info .wrap h3 .rate-n {
	background: url("../images/movies/grade/icon-rate-n.png") center center
		no-repeat;
	background-size: 23px 23px;
}

.section-movie-info .wrap .basic {
	margin: 16px 0 0 31px;
	color: #666;
	font-size: 16px;
	line-height: 1.94em;
}

.section-movie-info .wrap .basic span {
	font-weight: bold;
}

.section-movie-info .wrap .btn-rsv {
	margin: 18px 0 25px 31px;
	width: 115px;
	height: 39px;
	border-radius: 5px;
	background-color: #534cbf;
	display: block;
	line-height: 39px;
	font-size: 17px;
	color: #fff;
	text-align: center;
	display: block;
}

.section-movie-info .wrap .synopsis-title {
	padding: 41px 0 20px 30px;
	font-size: 20px;
	font-weight: bold;
	color: #494949;
	border: 1px solid #d8d8d8;
	border-width: 1px 0 1px 0;
	margin-top: 18px;
}

.section-movie-info .wrap .synopsis {
	line-height: 2.19em;
	color: #666;
	padding: 21px 0 21px 30px;
}

.section-movie-info .wrap .synopsis strong {
	color: #3a3a3a;
}

.section-movie-info .wrap .trailer-title {
	padding: 41px 0 20px 30px;
	font-size: 20px;
	font-weight: bold;
	color: #494949;
	border: 1px solid #d8d8d8;
	border-width: 1px 0 0 0;
}

.section-movie-info .wrap iframe {
	max-width: 720px;
	max-height: 405px;
}


.wrap-movie-title {
  background-color: #e5e5e5;
  width: 100%;
  height: 134px;
  text-align: center; }
  .wrap-movie-title h2.movie-title {
    display: inline-block;
    margin: 0 auto;
    font-size: 25px;
    color: #666;
    font-weight: normal;
    padding-top: 42px;
    height: 46px; }
    .wrap-movie-title h2.movie-title::after {
      content: "";
      border-bottom: 2px solid #979797;
      display: block;
      margin: 0 auto; }