<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.movie.mapper.BoardMapper">
	
	<!-- 분실물 등록 -->
	<insert id="insertLostBoard">
		<selectKey keyProperty="lost_code" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(lost_code), 0) FROM lost_board
		</selectKey>
		INSERT
			INTO lost_board
			VALUES (
				 #{lost_code} + 1
				,#{member_id}
				,#{cinema_name}
				,#{lost_name}
				,#{lost_subject}
				,#{lost_content}
				,#{lost_tel}
				,#{lost_email}
				,#{lost_date}
				,now()
				,#{lost_passwd}
				,'N'
				,#{lost_board_rep_content}
			)
	</insert>
	
	<!-- 분실물 목록 -->
	<select id="selectLostBoardList" resultType="com.itwillbs.movie.vo.BoardVO">
		SELECT * 
			FROM lost_board
			ORDER BY 
				lost_code DESC
			LIMIT 10
	</select>
	
	<!-- 분실물 상세 -->
	<select id="selectLostDetail" resultType="hashmap">
		SELECT *
			FROM lost_board
			WHERE lost_code = #{lost_code}
	</select>
	
	<!-- 분실물 삭제 -->
	<delete id="deleteLostBoard">
		DELETE 
			FROM lost_board
			WHERE lost_code = #{lost_code}
	</delete>
	
	<!-- 1대1 등록 -->
	<insert id="insertOneBoard">
		INSERT 
			INTO one_board
			VALUES (
				null
				,#{member_id}
				,#{one_name}
				,#{one_tel}
				,#{one_email}
				,#{one_location}
				,#{one_question_type}
				,#{one_subject}
				,#{one_content}
				,#{one_fileimg}
				,now()
				,#{one_passwd}
				,'N'
				,#{one_rep_board_content}
			)
	</insert>
	
	<!-- 1대1 목록 -->
	<select id="selectOneBoardList" resultType="hashmap">
		SELECT * 
			FROM one_board
			ORDER BY 
				one_code DESC
			LIMIT 10
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNoticeBoard">
		<selectKey keyProperty="notice_code" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(notice_code), 0) FROM notice_board
		</selectKey>
		INSERT
			INTO notice_board
			VALUES(
				#{notice_code} + 1
				, #{cinema_name}
				, #{notice_subject}
				, #{notice_content}
				, now()
			)
	</insert>
	
	<!-- 공지사항 목록 -->
	<select id="selectNoticeBoardList" resultType="hashmap">
		SELECT *
			FROM notice_board
			ORDER BY notice_code DESC
	</select>
	
	<!-- 공지사항 상세 -->
	<select id="selectNoticeDetail" resultType="hashmap">
		SELECT *
			FROM notice_board
			WHERE notice_code = #{notice_code}
	</select>
	
	<!-- 공지사항 수정창 -->
	<select id="selectNoticeBoard" resultType="hashmap">
		SELECT *
			FROM notice_board
			WHERE notice_code = #{notice_code}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="updateNoticeBoard">
		UPDATE notice_board
			SET notice_subject = #{notice_subject}
			, cinema_name = #{cinema_name}
			, notice_content = #{notice_content}
			WHERE notice_code = #{notice_code}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNoticeBoard">
		DELETE 
			FROM notice_board
			WHERE notice_code = #{notice_code}
	</delete>
	
	<!-- 자주묻는 질문 등록 -->
	<insert id="insertFaqBoard">
		<selectKey keyProperty="faq_num" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(faq_num), 0) FROM faq_board
		</selectKey>
		INSERT
			INTO faq_board
			VALUES(
				#{faq_num} + 1
				, #{faq_group}
				, #{faq_question}
				, #{faq_answer}
				, #{faq_count}
			)
	</insert>
	
	<!-- 자주묻는 질문 목록 -->
	<select id="selectFaqBoardList" resultType="hashmap">
		SELECT * 
			FROM faq_board 
			ORDER BY faq_num DESC
	</select>
	
</mapper>
