<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.movie.mapper.CinemaMapper">

	<select id="location" resultType="hashmap">
		SELECT * FROM location
	</select>
	
	<select id="locationCinema" resultType="hashmap">
		SELECT cinema_name,
			   cinema_code
	      FROM cinema
	 LEFT JOIN location 
	        ON cinema.location_code = location.location_code
	  	 WHERE location_name = #{location_name}
	</select>
	
	<!-- 공지사항 -->
	<select id="noticeList" resultType="hashmap">
		SELECT cinema.cinema_name
		  ,location_name
		  ,notice_subject
		  ,notice_write_date 
		FROM notice_board
		LEFT JOIN cinema
		ON cinema.cinema_name = notice_board.cinema_name
		LEFT JOIN location 
		ON location.location_code = cinema.location_code
		ORDER BY notice_write_date desc
		LIMIT 5
	</select>
	
	<!-- 극장 전체 선택페이지에서 디테일 페이지로 넘어갈때 -->
	<select id="cinemaDetail" resultType="hashmap">
		SELECT *
		  FROM cinema
		 WHERE cinema_code = #{cinema_code}
	</select>
	
	<!--  날짜 선택하면 그날에 맞는 상영일정 보일수 있게  -->
	<select id="schList" resultType="hashmap">
		SELECT 
			    schedule.sch_movie_date
			  , DATE_FORMAT(schedule.sch_start_time, '%H:%i') AS sch_start_time
  			  , DATE_FORMAT(schedule.sch_last_time, '%H:%i') AS sch_last_time
			  , cinema.cinema_name
			  , cinema.cinema_code
			  , CASE movieInfo.info_rating													
		WHEN '18세관람가(청소년관람불가)' 	THEN 'rate-x'
		WHEN '15세관람가' 					THEN 'rate-15'
		WHEN '12세관람가' 					THEN 'rate-12'
		WHEN '전체관람가' 					THEN 'rate-all' 
		ELSE ''
		END AS 'rate'
			  , movieInfo.info_movie_code
			  , movieInfo.info_movie_title
			  , screen.screen_name
			  , schedule.sch_screen_code
		 FROM schedule 
	LEFT JOIN cinema 
		   ON cinema.cinema_code = schedule.sch_cinema_code
	LEFT JOIN movieInfo
		   ON movieInfo.info_movie_code = schedule.sch_movie_code
	LEFT JOIN screen
	       on screen.screen_code = schedule.sch_screen_code
	       where 1=1
	       and sch_cinema_code = #{cinema_code}
	       and sch_movie_date=#{date}
	  ORDER BY schedule.sch_screen_code;
	
	</select>
	
	<!-- 선호영화관 찾기 -->
	<select id="preferCinema" resultType="hashmap">
	SELECT *
	  FROM member
	 WHERE member_id =#{id};
	</select>

</mapper>
	