<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.movie.mapper.MovieRegisterMapper">
<!-- sql 재사용 문법 -->
<sql id = "sqlSelect">
SELECT *
	,  CASE 
		WHEN datediff(info_showdate, now()) &gt; 0 THEN '상영예정'
		WHEN datediff(info_enddate, now()) &lt; 0 THEN '상영종료'  
		ELSE '예매하기'
		END AS 'status'
	, CASE info_rating													
		WHEN '18세관람가(청소년관람불가)' 	THEN 'rate-x'
		WHEN '15세관람가' 					THEN 'rate-15'
		WHEN '12세관람가' 					THEN 'rate-12'
		WHEN '전체관람가' 					THEN 'rate-all' 
		ELSE ''
		END AS 'rate'			
 FROM movieinfo
</sql>
<!-- 현재 상영작 -->
<select id="selectMovies" resultType="hashmap">
<include refid="sqlSelect"/>
	WHERE
		now()
			BETWEEN info_showdate
			AND	info_enddate
	ORDER BY
			info_showdate DESC
</select>

<!-- 상영 예정영화 조회 -->
<select id="selectCommingMovies" resultType="hashmap">
<include refid="sqlSelect"/>
	WHERE
		datediff(info_showdate, now()) &gt; 0
</select>
<!-- 최신 개봉순 조회 -->
<select id="selectAscendingMovies" resultType="hashmap">
<include refid="sqlSelect"/>
	WHERE
		now()
			BETWEEN info_showdate
			AND	info_enddate
	ORDER BY
		info_showdate DESC
</select>

<insert id="registMovie">
		INSERT INTO movieinfo
			VALUES(
				     #{info_movie_code}
				   , #{info_movie_title}
				   , #{info_movie_poster}
				   , #{info_story}
				   , #{info_year}
				   , #{info_time}
				   , #{info_showdate}
				   , #{info_enddate} 
				   , '0'										-- likeCount
				   , #{info_director}
				   , #{info_nation}
				   , #{info_rating}
				   , #{info_genre}
			)
</insert>

<!--  영화 상세 정보 -->
<select id="selectMovie" resultType="hashmap">
<include refid="sqlSelect"/>
	 WHERE info_movie_code = #{info_movie_code}
</select>
<!-- 영화 상세 정보 - 리뷰 읽어오기-->
<select id="selectMovieReview" resultType="hashmap">
	SELECT
			*
  	 FROM review
	 WHERE rev_movie_code = #{info_movie_code}
</select>


<select id="selectSchMovie" resultType="hashmap">
	 SELECT sch_code,sch_movie_code,info_movie_title,info_time
	   FROM schedule 
  LEFT JOIN movieinfo 
         ON schedule.sch_movie_code = movieinfo.info_movie_code
      WHERE sch_code = #{sch_code}
</select>

<delete id="deleteMovie">
	DELETE 
	  FROM movieinfo
     WHERE info_movie_code = #{info_movie_code}
</delete>

<!--수정 -->
<update id="updateMovie">
	UPDATE movieinfo 
		SET info_movie_code = #{info_movie_code}
		  , info_movie_title = #{info_movie_title}
		  , info_movie_poster = #{info_movie_poster}
		  , info_story = #{info_story}
		  , info_year = #{info_year}
		  , info_time = #{info_time}
		  , info_showdate = #{info_showdate}
		  , info_enddate = #{info_enddate}
	  WHERE info_movie_code = #{info_movie_code}
</update>

<select id="selectScreen" resultType="hashmap">
	SELECT screen_name,screen_code,location_code
	  FROM cinema 
	  LEFT JOIN screen 
	         ON cinema.cinema_code = screen.screen_cinema_code
     WHERE cinema_name = #{cinema_name}
     ORDER BY screen_name
</select>

<select id="selectCinema" resultType="hashmap">
	SELECT * FROM cinema
</select>


<!-- 영화상영일정 -->
<insert id="scheduleRegister">
INSERT INTO schedule
		VALUES (
			   (SELECT *
		          FROM (SELECT IFNULL(MAX(CAST(sch_code AS UNSIGNED)), 0) + 1
						  FROM schedule) A)
			 , #{sch_screen_code} 
			 , #{sch_cinema_code} 
			 , #{sch_movie_code} 
			 , #{sch_register_date}	
			 , #{sch_start_time} 
			 , #{sch_last_time}
			 ) 
</insert>

	<!-- 검색 결과 총 개수 구하기 -->
<!-- 	<select id="selectBoardListCount" resultType="int"> -->
<!-- 		SELECT COUNT(*) AS total_count -->
<!-- 	    FROM schedule -->
<!-- 	    LEFT JOIN screen ON screen.screen_code = sch_screen_code  -->
<!-- 	    LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code -->
<!-- 	    LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code -->
<!-- 	    <where> -->
<!-- 	        <if test="sch_movie_code != null and sch_movie_code != ''"> -->
<!-- 	            AND info_movie_code = #{sch_movie_code} -->
<!-- 	        </if> -->
<!-- 	        <if test="sch_cinema_code != null and sch_cinema_code != ''"> -->
<!-- 	            AND cinema_code = #{sch_cinema_code} -->
<!-- 	        </if> -->
<!-- 	        <if test="sch_research_date != null and sch_research_date != ''"> -->
<!-- 	            AND sch_movie_date = #{sch_research_date} -->
<!-- 	        </if> -->
<!-- 	    </where> -->
<!-- 	</select> -->

<!-- 영화상영일정목록 -->
	<select id="selectScheduleList" resultType="hashmap">
		SELECT 
			  sch_code
			, screen.screen_name
			, cinema.cinema_name 
			, cinema.cinema_code
			, movieinfo.info_movie_code
			, movieinfo.info_movie_title
			, sch_movie_date
			, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
			, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
	  FROM schedule
	  LEFT JOIN screen ON screen.screen_code = sch_screen_code 
	  LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
	  LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
	  <where>
        <if test="sch_movie_code != null and sch_movie_code != ''">
            AND info_movie_code = #{sch_movie_code}
        </if>
        <if test="sch_cinema_code != null and sch_cinema_code != ''">
            AND cinema_code = #{sch_cinema_code}
        </if>
        <if test="sch_research_date != null and sch_research_date != ''">
            AND sch_movie_date = #{sch_research_date}
        </if>
    </where>
			LIMIT 
			 	#{startRow}
			  , #{listLimit}
	</select>


<select id="selectBoardListCount" resultType="int">
		SELECT COUNT(*) FROM (
			    SELECT 
			        sch_code, screen.screen_name, cinema.cinema_name, cinema.cinema_code, 
			        movieinfo.info_movie_code, movieinfo.info_movie_title, sch_movie_date,
			        TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time,
			        TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
			    FROM schedule
			    LEFT JOIN screen ON screen.screen_code = sch_screen_code 
			    LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
			    LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
			    <where>
			        <if test="sch_movie_code != null and sch_movie_code != ''">
			            AND info_movie_code = #{sch_movie_code}
			        </if>
			        <if test="sch_cinema_code != null and sch_cinema_code != ''">
			            AND cinema_code = #{sch_cinema_code}
			        </if>
			        <if test="sch_research_date != null and sch_research_date != ''">
			            AND sch_movie_date = #{sch_research_date}
			        </if>
			    </where>
			) AS total_results
	</select>
	



<select id="cinemaNameSort" resultType="hashmap">
	SELECT 
		  sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
		
  FROM schedule
  LEFT JOIN screen ON screen.screen_code = sch_screen_code 
  LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
  LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
  ORDER BY cinema.cinema_name
</select>

<select id="screenNameSort" resultType="hashmap">
	SELECT 
		  sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
	
  FROM schedule
  LEFT JOIN screen ON screen.screen_code = sch_screen_code 
  LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
  LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
  ORDER BY screen.screen_name
</select>

<select id="movieNameSort" resultType="hashmap">
	SELECT 
		  sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
		
  FROM schedule
  LEFT JOIN screen ON screen.screen_code = sch_screen_code 
  LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
  LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
  ORDER BY movieinfo.info_movie_title
</select>

<select id="schDateSort" resultType="hashmap">
SELECT 
		  sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
		
  FROM schedule
  LEFT JOIN screen ON screen.screen_code = sch_screen_code 
  LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
  LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
  ORDER BY sch_movie_date
</select>

<select id="schStartSort" resultType="hashmap">
SELECT 
		  sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
		
  FROM schedule
  LEFT JOIN screen ON screen.screen_code = sch_screen_code 
  LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
  LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
  ORDER BY sch_start_time
</select>

<select id="schLastSort" resultType="hashmap">
	SELECT 
			  sch_code
			, screen.screen_name
			, cinema.cinema_name 
			, movieinfo.info_movie_title
			, sch_movie_date
			, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
			, TIME_FORMAT(sch_last_time, '%H:%i')AS sch_last_time
			
	FROM schedule
	LEFT JOIN screen ON screen.screen_code = sch_screen_code 
	LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
	LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
	ORDER BY sch_last_time
</select>

<select id="selectSchedule" resultType="hashmap">
	SELECT 
		sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time
		
	 FROM schedule
	 LEFT JOIN screen ON screen.screen_code = sch_screen_code 
	 LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
	 LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code
	WHERE sch_code = #{sch_code}
</select>
<update id="movieScheduleUpdate">
	UPDATE schedule 
		SET sch_movie_date = #{sch_movie_date}
		  , sch_start_time = #{sch_start_time}
		  , sch_last_time = #{sch_last_time}
	  WHERE sch_code = #{sch_code}
</update>
<delete id="deleteSchedule">
	DELETE 
	  FROM schedule
     WHERE sch_code = #{sch_code}
</delete>

<select id="infoMovieCodeSort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_movie_code
</select>
<select id="infoMovieNameSort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_movie_title
</select>
<select id="infoYearSort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_year
</select>
<select id="infoTimeSort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_time
</select>
<select id="infoShowDateSort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_showdate
</select>
<select id="infoEndDateSort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_enddate
</select>
<select id="infoStorySort" resultType="hashmap">
	SELECT * 
	  FROM movieinfo
  ORDER BY info_story
</select>


<delete id="deleteDateSch" >
   DELETE 
     FROM schedule
    WHERE sch_movie_date = #{date}
</delete>

<!-- 상영종료된 내역 조회 -->
<!-- <select id="selectEndSch" resultType="hashmap"> -->
<!-- 	SELECT *  -->
<!-- 	  FROM schedule -->
<!-- 	 WHERE sch_movie_date &lt; DATE_SUB(NOW(), INTERVAL 1 DAY) -->
<!--   ORDER BY sch_movie_date; -->
<!-- </select> -->

<!-- <select id="endSchList" resultType="hashmap"> -->
<!-- 	SELECT  -->
<!-- 		  sch_code -->
<!-- 		, screen.screen_name -->
<!-- 		, cinema.cinema_name  -->
<!-- 		, movieinfo.info_movie_title -->
<!-- 		, sch_movie_date -->
<!-- 		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time -->
<!-- 		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time  -->
<!-- 	 FROM schedule -->
<!-- LEFT JOIN screen ON screen.screen_code = sch_screen_code  -->
<!-- LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code -->
<!-- LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code	   -->
<!-- 	 WHERE sch_movie_date &lt; DATE_SUB(NOW(), INTERVAL 1 DAY) -->
<!--   ORDER BY sch_movie_date; -->
<!-- </select> -->

<insert id="insertSchedule_end">
    INSERT INTO schedule_end 
    SELECT 
		  sch_code
		, screen.screen_name
		, cinema.cinema_name 
		, movieinfo.info_movie_title
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time 
	 FROM schedule
LEFT JOIN screen ON screen.screen_code = sch_screen_code 
LEFT JOIN cinema ON cinema.cinema_code = sch_cinema_code
LEFT JOIN movieinfo ON movieinfo.info_movie_code = sch_movie_code	  
	 WHERE sch_movie_date &lt; DATE_SUB(NOW(), INTERVAL 1 DAY)
  ORDER BY sch_movie_date;
</insert>
<delete id="endSchedule_del">
	DELETE FROM schedule
    WHERE sch_movie_date &lt; DATE_SUB(NOW(), INTERVAL 1 DAY);
</delete>

<select id="schEndListCount" resultType="int">
	SELECT COUNT(*)
      FROM schedule_end
</select>

 <select id="endSchList" resultType="hashmap">
    SELECT 
		  end_sch_code
		, sch_screen_code
		, sch_cinema_code
		, sch_movie_code
		, sch_movie_date
		, TIME_FORMAT(sch_start_time,'%H:%i')AS sch_start_time
		, TIME_FORMAT(sch_last_time,'%H:%i')AS sch_last_time 
 	 FROM schedule_end
 ORDER BY
	 	end_sch_code DESC
	LIMIT 
	 	#{startRow}
	  , #{listLimit}
 </select>
<!-- <select id="" resultType="hashmap"> -->
<!-- 		SELECT *  -->
<!-- 			FROM board  -->
<!-- 			<if test="!searchType.equals('')"> -->
<!-- 				WHERE -->
<!-- 				<choose> -->
<!-- 					<when test="searchType.equals('subject')"> -->
<!-- 						board_subject LIKE '%${searchKeyword}%' -->
<!-- 					</when> -->
<!-- 					<when test="searchType.equals('content')"> -->
<!-- 						board_content LIKE '%${searchKeyword}%' -->
<!-- 					</when> -->
<!-- 					<when test="searchType.equals('subject_content')"> -->
<!-- 						board_subject LIKE '%${searchKeyword}%' -->
<!-- 						OR board_content LIKE '%${searchKeyword}%' -->
<!-- 					</when> -->
<!-- 					<when test="searchType.equals('name')"> -->
<!-- 						board_name LIKE '%${searchKeyword}%' -->
<!-- 					</when> -->
<!-- 				</choose>  -->
<!-- 			</if> -->
<!-- 			LIMIT  -->
<!-- 				#{startRow} -->
<!-- 				, #{listLimit}	 -->
<!-- 	</select>		 -->
		<select id="todayCount" resultType="int">
			SELECT count(*)
			FROM schedule
			WHERE sch_movie_date = CURDATE()
		</select>


		<select id="resList" resultType="hashmap">
			SELECT * FROM reservation
		</select>
		
		<select id="detailRes" resultType="hashmap">
			SELECT * 
			  FROM reservation
			 WHERE res_code=#{res_code}
		</select>

</mapper>