<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 주의! mapper 태그 내의 namespace 속성에 현재 XML 파일과 연결될 자바 클래스를 명시해야한다! -->
<mapper namespace="com.itwillbs.movie.mapper.MyBatisMapper">
	<insert id="insertMember">
		INSERT INTO customer
			VALUES(
				   #{member_id}
				   , #{member_pw}
				   , #{member_name}
				   , #{member_email}
				   , #{member_tel}
				   , '1000'
				   , #{member_prefer_branch}
				   , #{member_prefer_genre}
			)
	</insert>
	
	<select id="chekUser" resultType="hashmap">
		SELECT * 
			FROM customer
				WHERE member_id = #{member_id} AND member_pw = #{member_pw}
	</select>
</mapper>



















