<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 주의! mapper 태그 내의 namespace 속성에 현재 XML 파일과 연결될 자바 클래스를 명시해야한다! -->
<mapper namespace="com.itwillbs.movie.mapper.MyBatisMapper">
	<insert id="insertMember">
		INSERT INTO member
			VALUES(
				   #{member_id}
				   , #{member_name}
				   , #{member_pw}
				   , #{member_bday}
				   , #{member_email}
				   , #{member_tel}
				   , '1000'
				   , #{member_prefer_branch}
				   , #{member_prefer_genre}
				   , now()
			)
	</insert>
	
	<select id="chekUser" resultType="hashmap">
		SELECT * 
			FROM member
				WHERE member_id = #{member_id} AND member_pw = #{member_pw}
	</select>
	
	<select id="selectMemberId" resultType="hashmap">
		SELECT * 
				FROM member
					WHERE member_id = #{id}
	</select>
	
	<insert id="registItem">
		INSERT INTO item
			VALUES(
				   #{item_code}
				   , #{item_type}
				   , #{item_name}
				   , #{item_price}
				   , #{item_detail}
				   , #{item_image}
				   , #{item_status}
			)
	</insert>
	<select id="selectItem" resultType="hashmap">
		SELECT * 
			FROM item
	</select>
	
	<delete id="deleteItem">
		DELETE FROM item
			 WHERE item_code = #{item_code}
	</delete>
	
	<select id="selectGift" resultType="hashmap">
		SELECT * FROM item
			WHERE item_type = 'giftcard'
	</select>
	
	<select id="selectFood" resultType="hashmap">
		SELECT * FROM item
			WHERE item_type = 'food'
	</select>
	
	<select id="selectTicket" resultType="hashmap">
		SELECT * FROM item
			WHERE item_type = 'ticket'
	</select>
	
	<select id="selectCode" resultType="hashmap">
		SELECT * FROM item
			WHERE item_code = #{item_code}
	</select>
	
	<update id="updateItem">
		UPDATE item 
			SET item_type = #{item_type}
			  , item_price = #{item_price}
			  , item_name = #{item_name}
			  , item_price = #{item_price}
			  , item_detail = #{item_detail}
			  , item_image = #{item_image}
			  , item_status = #{item_status}
					WHERE item_code = #{item_code}
	</update>
	
	<insert id="insertPay">
		INSERT INTO pay
			VALUES(
				   #{pay_code}
				 , #{id}
				 , #{pay_type}
				 , #{pay_price}
				 , now()
				 , 'N'
				 , #{pay_status}
			)
			
	</insert>
	
	

<!-- 상영중인 영화  -->
<!-- RegistMapper 겹치는 부분 -->
	<select id="screeningMovie" resultType="hashmap">
		SELECT * 
			FROM movieInfo
	</select>
	<select id="selectMovieInfo" resultType="hashmap">
		SELECT * 
			FROM movieInfo
			 WHERE info_movie_code = #{info_movie_code}
	</select>
	
	
	<!-- 멤버리스트 -->
	<select id="selectMember" resultType="hashmap">
		SELECT * FROM member
	</select>
	
</mapper>



















