<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.itwillbs.movie.mapper.MypageMapper">
  
  
  <!-- 회원 정보 조회 -->
	<select id="selectMemberInfo" resultType="com.itwillbs.movie.vo.MemberVO">
		SELECT *
			FROM member
			WHERE member_id = #{id}
	</select>
	
	<select id="selectMemberId" resultType="hashmap">
		SELECT * 
			FROM member
			WHERE member_id = #{id}
	</select>
	
	<!-- 비밀번호 조회 -->
	<select id="selectPasswd" resultType="string">
		SELECT member_pw FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMemberInfo" >
	 UPDATE member
	 	SET 
	 	member_email = #{member_email}
	 	<if test = "member_pw2 neq ''">
	 	,member_pw = #{member_pw2}
	 	</if>
	 	,member_name = #{member_name}
	 	,member_bday = #{member_bday}
	 	,member_tel = #{member_tel}
	 	,member_prefer_branch = #{member_prefer_branch}
	 	,member_prefer_genre = #{member_prefer_genre}
		WHERE member_id = #{member_id}
	
	</update>
  
  	<delete id = "deleteMember" >
  		DELETE 
  			FROM member
  			WHERE member_id = #{member_id}
  	</delete>
  	
  	<select id = "qnaList" resultType = "hashmap" >
  		SELECT 
  			cinema_name
  			,one_question_type
  			,one_subject
  			,one_write_date
  			,one_rep_board
  		FROM one_board 
  		WHERE member_id = #{id}
  		ORDER BY one_write_date DESC
  		
  	</select>
  	
  	<insert id= "insertReview" >
  		INSERT 
  			INTO review
  			VALUES (
  			#{rev_code}
  			,#{rev_movie_code} 
  			,#{rev_movie_title}
  			,#{id}
			,#{rev_rating}
			,#{rev_content}
			,now()
  			)
  	</insert>

  	<select id = "revList" resultType = "hashmap" >
  		SELECT 
  			 rev_movie_title
  			,rev_content
  			,rev_rating
  			,rev_date
  		FROM review
  		WHERE rev_id = #{id}
  	</select>
  	
  	<select id = "movieList" resultType= "hashmap">
  		SELECT info_movie_title
		FROM movieinfo
		WHERE info_genre 
		LIKE	(concat ("%",
					(SELECT member_prefer_genre 
                        FROM member 
                        WHERE member_id = #{id}),"%"));
  			 
  	</select>
  	
  	<!-- 좋아요 버튼 기능 -->
	<insert id="likeInsert">
		INSERT INTO like_movie
			VALUES(
				 CONCAT(
				 	#{info_movie_code}
				 	,"_"
				 	,#{member_id}
			 		)
				, #{info_movie_code}
				, #{member_id}
				, now()			
			)
	</insert>
  	<insert id= "insertPoint" >
		INSERT 
  			INTO point
  			VALUES (
  			(SELECT *
  			  FROM (SELECT IFNULL(MAX(point_code),0) FROM point) A)+1
  			, #{id}
  			,'리뷰작성 이벤트'
			,'500'
			,now()
  			);
  	</insert>
  	
  	<select id = "pointList" resultType = "hashmap" >
  		SELECT 
 			 point_date
 			,point_content
 			,point_amount
 			,ROUND(sum(point_amount) OVER (ORDER BY point_code),0) AS point_sum
  		FROM point
  		WHERE point_id = #{id}
  		ORDER BY point_code DESC
  	</select>
  	
  	<select id = "payList" resultType = "hashmap" >
	  	 SELECT 
	  	 	p.pay_date
	  	 	,i.item_type
	  	 	,i.item_name
	  	 	,p.pay_price
	  	 FROM pay p JOIN item i
	  	 ON p.item_code = i.item_code
	  	WHERE p.member_id = #{id}
  	</select>
  	
  	
  	
  	
</mapper>
